# Generic
# ------------------------
Thumbs.db
Desktop.ini
Icon?
.DS_Store
.directory
*.cache
*.old
*.log
*~
*.zip

# Application files
# ------------------------
.env

# Dependency folders
# ------------------------
vendor/
coveralls-upload.json
clover.xml

# IDE Files
#-------------------------
nbproject/
.idea/
.settings/
.idea/
.project
*.sublime-*

# But Keep these files
# ------------------------
!index.html
!.htaccess
!.gitkeep
